}
body{
  font-family: Verdana;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
 
}
td{
 padding-bottom: 12px;
 padding-right: 15px;
 vertical-align: top;
}
label{
  display: block;
  text-align: end;
  font-size: 13px;
}
p {
  text-decoration: underline;
}
fieldset{
  margin-top:100px;
}
.btn{
  padding: 10px 12px;
  border-radius: 10px;
  border: 0;
}
.btn-red{
  background-color:pink ;
}
.btn-blue{
  background-color:#ccc;
}
